body {
  font-family: "Mate";
  font-size: 16px;
  line-height: 1;
  background-color: #729179;
}

textarea{
  background: #EEDCCE;
  border: none;
  resize: none;
  color: #729179;
  border-left: 1px solid #384b03

}

.jumbotron {
  text-align: center;
  background-color: #EEDCCE;
  color: #729179;
  border-radius: 0;
  border-bottom: 10px solid #384b03;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.input-group-text {
  border: none;
}

.form-control {
  border: none;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #384b03;
}

.hour {
  background-color: #384b03;
  color: #EDE2DC;
  border-top: 1px dashed #EDE2DC;
  width: 100px;
  text-align: center;
  padding: 20px;
}

.past {
  background-color: #729179;
  color: #EDE2DC;
}

.present {
  background-color: goldenrod;
  color: #384b03;
}

.future {
  background-color:#ede2dc;;
  color: #384b03;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #384b03;
  color: #EDE2DC;
  width: 120px;
  font-size: 20px;
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all .3s ease-in-out;
}
